<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #search-dropdown {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            var $search = $('#search');
            var $searchDropdown = $('#search-dropdown');
            var repositoryMap = {};

            $search.on('input', function () {
                var query = $search.val();

                if (query.length >= 1) {
                    updateDropdown(query);
                } else {
                    $searchDropdown.empty().hide();
                    repositoryMap = {};
                }
            });

            $searchDropdown.on('change', function () {
                var selectedRepositoryName = $searchDropdown.val();
                displayMatchingRepositories(selectedRepositoryName);
            });

            $('#search-button').click(function (e) {
                displayRepositoryMap();
            });

            $('#block-button').click(function () {
                var selectedOption = $('#search-dropdown option:selected');

                if (selectedOption.length > 0) {
                    var selectedRepositoryName = selectedOption.val();

                    $.ajax({
                        url: '/blocklist',
                        method: 'POST',
                        data: { repositoryName: selectedRepositoryName },
                        dataType: 'json',
                        success: function (response) {
                            console.log(response);
                            var query = $search.val();
                            if (query.length >= 1) {
                                updateDropdown(query);
                            }
                            fetchAndPopulateBlocklist();
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                } else {
                    console.log('No option selected');
                }
            });

            $('#blocklist-button').click(function () {
                fetchAndPopulateBlocklist();
            });

            function fetchAndPopulateBlocklist() {
                $.ajax({
                    url: '/blocklist',
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        populateBlocklistTable(response);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }


            function populateBlocklistTable(data) {
                $('#blocklistTable tbody').empty();

                data.forEach(function (blockedRepo) {
                    var row = $('<tr>');
                    row.append('<td>' + blockedRepo.id + '</td>');
                    row.append('<td>' + blockedRepo.repositoryName + '</td>');
                    row.append('<td>' + blockedRepo.userId + '</td>');
                    row.append('<td>' + blockedRepo.createdAt + '</td>');

                    var removeButton = $('<button>').text('Remove');
                    removeButton.on('click', function () {
                        var repositoryName = blockedRepo.repositoryName;

                        $.ajax({
                            url: '/blocklist/' + encodeURIComponent(repositoryName),
                            method: 'DELETE',
                            success: function () {
                                fetchAndPopulateBlocklist();
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                    });

                    row.append($('<td>').append(removeButton));

                    $('#blocklistTable tbody').append(row);
                });
            }

            function displayMatchingRepositories(selectedRepositoryName) {
                if (selectedRepositoryName) {
                    var selectedRepository = repositoryMap[selectedRepositoryName];
                    if (selectedRepository) {
                        var detailsHtml = '<h2>Selected Repository:</h2>' +
                            '<p>Name: ' + selectedRepository.name + '</p>' +
                            '<p>Stars: ' + selectedRepository.stargazersCount + '</p>';
                        $('#repository-details').html(detailsHtml);
                    }
                } else {
                    $('#repository-details').html('<p>Selected repository not found.</p>');
                }
            }

            function displayRepositoryMap() {
                if (Object.keys(repositoryMap).length === 0) {
                    $('#repository-details').html('<p>No repositories found.</p>');
                } else {
                    var detailsHtml = '<h2>Repositories:</h2>';
                    for (var repoName in repositoryMap) {
                        if (repositoryMap.hasOwnProperty(repoName)) {
                            var repo = repositoryMap[repoName];
                            detailsHtml += '<p>Name: ' + repo.name + '</p>';
                            detailsHtml += '<p>Stars: ' + repo.stargazersCount + '</p>';
                            detailsHtml += '<hr>';
                        }
                    }
                    $('#repository-details').html(detailsHtml);
                }
            }

            function updateSelectSize() {
                var options = $searchDropdown.find('option');
                var newSize = Math.min(5, options.length);
                $searchDropdown.attr('size', newSize);
            }

            function updateDropdown(query) {
                $.ajax({
                    url: '/search',
                    method: 'GET',
                    data: { queryText: query },
                    dataType: 'json',
                    success: function (data) {
                        var results = data;

                        $searchDropdown.empty();
                        repositoryMap = {};

                        if (results.length > 0) {
                            for (var i = 0; i < results.length; i++) {
                                var repository = results[i];
                                repositoryMap[repository.name] = repository;

                                var checkbox = $('<input type="checkbox" class="repository-checkbox">');
                                checkbox.data('repository', repository);

                                var option = $('<option>').val(repository.name).text(repository.name);
                                $searchDropdown.append(checkbox);
                                $searchDropdown.append(option);
                            }
                            $searchDropdown.show();
                        } else {
                            var option = new Option('No matching repositories found', '');
                            $searchDropdown.append(option);
                            $searchDropdown.hide();
                        }
                        updateSelectSize();
                    },
                    error: function () {
                    }
                });
            }
        });
    </script>
</head>

<body>
    <h1>Hello</h1>

    <button id="blocklist-button">Blocklist</button>

    <table id="blocklistTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Repository Name</th>
                <th>User ID</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <submit id="search-form">
        <button id="search-button">Search</button>
        <input type="text" id="search" name="q" placeholder="Enter search query">
        <select id="search-dropdown" size="3"></select>
        <button id="block-button">Block</button>
    </submit>

    <div id="repository-details">
    </div>

    <div th:if="${mostRecentRepository != null}">
        <h1>Most Recent Repository</h1>
        <table>
            <tr>
                <th>Repository Name</th>
            </tr>
            <tr>
                <td th:text="${mostRecentRepository.name}"></td>
            </tr>
            <tr>
                <th>Repository Stars</th>
            </tr>
            <tr>
                <td th:text="${mostRecentRepository.stargazersCount}"></td>
            </tr>
        </table>
    </div>
    <div th:unless="${mostRecentRepository != null}">
        <p>No repositories found.</p>
    </div>
</body>

</html>